

*, ::before, ::after {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    color: #555;
    font-family: 'open sans';
}

h2,h3,h4 {
    color: #333;
    font-family: 'Raleway';
}

header {
    background-color: #e2f7ff;
    margin-bottom: 6rem;
}

.logo {
    background: url(../images/header.jpg) center;
    color: #eee;
    margin-top: 1rem;
    text-decoration: none;
}

.logo > a {
    text-decoration: none;
    color: #eee
}

.logo img {
    display: inline-block;
    width: 7rem;
    padding: 4rem 0;
}

.container {
    max-width: 140rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.center {
    text-align: center;
}


.account-cart {
    display: flex;
    justify-content: center;
}

.account-cart div:hover {
    color: #000;
}

.account-cart div {
    padding: 2rem;
}
/* ************************************* */
/* **************  MENU **************** */
/* ************************************* */

ul {
    list-style: none;
}

nav > ul {
    position: relative;
}

nav a {
    display: block;
    text-decoration: none;
    color: #1e88c4;
    padding: 1rem;
}

nav a:hover {
    background-color: #1b81c3;
    color:#fff;
}

.menu {
    background-color: #fff;
    position: absolute;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    left: 0;
    right: 0;
    display: none;
    text-decoration: none;
    padding: 1rem 0;
    color: #0c6588;
}

nav > ul > li:hover .menu {
    display: block;
    color: #000;
}

/* ************************************* */
/* ************** ACCESS *************** */
/* ************************************* */

.acces {
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
}

.acces a {
    color: #0c6588;
}

.title-style {
    display: flex;
    flex-direction: row;
}

.title-style:first-child {
    
    width: 50%;
}

.title-style:last-child {
    float: right;
    border-top: 1px dotted #000;
    
}

