

*, ::before, ::after {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    color: #555;
    font-family: 'open sans';
}

h2,h3,h4 {
    color: #333;
    font-family: 'Raleway';
}

.opt {
    color: #333;
    font-size: 1rem;
}

header {
    background-color: #e2f7ff;
    margin-bottom: 6rem;
}

.logo {
    background: url(../images/header.jpg) center;
    color: #eee;
    text-decoration: none;
}

.logo > a {
    text-decoration: none;
    color: #eee
}

.logo img {
    width: 7rem;
    padding: 3rem 0 1rem;
}

.container {
    max-width: 114rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.center {
    text-align: center;
}


.account-cart {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.account-cart div:hover {
    color: #000;
}

.account-cart div {
    padding: 2rem;
}
/* ************************************* */
/* **************  MENU **************** */
/* ************************************* */

ul {
    list-style: none;
}

nav > ul {
    position: relative;
}

nav a {
    display: block;
    text-decoration: none;
    color: #1e88c4;
    padding: 1rem;
}

nav a:hover {
    background-color: #1b81c3;
    color:#fff;
}

.menu {
    background-color: #fff;
    position: absolute;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    left: 0;
    right: 0;
    display: none;
    text-decoration: none;
    padding: 1rem 0;
    color: #0c6588;
}

nav > ul > li:hover .menu {
    display: block;
    color: #000;
}

/* ************************************* */
/* ************** ACCESS *************** */
/* ************************************* */

.acces {
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
}

.acces a {
    color: #0c6588;
}

.title-sep {
    font-size: 3.4rem;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.title-sep::after {
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    flex-grow: 1;
    background-image: radial-gradient(#eeeeee 5px, transparent 5px);
    background-size: 20px 20px;
    margin-left: 20%;
}

/* ******************************************** */
/* ************** RIBBON ********************** */
/* ******************************************** */

.rib-contain {
    margin-left: 3rem;
}

.rib-contain span {
    padding: 3rem 3rem 3.5rem 3rem;
}

.ribbon {
    height: 40px;
    width: max-content;
    border: 1px solid #eee;
    border-radius: 8px;
    background-color: #eee;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    position: relative;
    box-shadow: 3px 3px 3px #ccc;
}

.ribbon::before {
    position:absolute;
    content: '';
    width: 29px;
    height: 29px;
    z-index: 1;
    background-color: #eee;
    border-left: none;
    border-top: none;
    transform: rotate(45deg);
    left: -12px;
    top: 6px;
}

.ribbon span {
    display: flex;
    align-items: center;
}

.ribbon span::before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: radial-gradient(white 20%, black 22%, #eee 25%, #eee 100%);
    background-size: 20px 20px;
    z-index: 1;
    transform: translate(-20px);
}


/* ******************************************** */
/* ************** MEDIA QUERIES *************** */
/* ******************************************** */

/* version tablette */

@media screen and (min-width: 480px) {
    nav > ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    nav > ul > li {
        width: 50%;
    }

    nav > ul > li:hover .menu {
        display: flex;
        flex-wrap: wrap;
    }

    .ss-rub {
        width: 50%;
    }
    
    .opt {
        display: flex;
        justify-content: space-around;
    }
}

/* version destop */

@media screen and (min-width: 980px) {
    nav > ul > li {
        width: 25%;
    }

    .ss-rub {
        width: 25%;
    }

    
}